.category-list
{
	position: relative;
	list-style: none;
	padding-left: 1em;
	user-select: none;
}

.category-list li
{
	position: relative;
}

.category-list.sub:before
{
	content: '';
	position: absolute;
	background-color: #333;
	width: 1.5px;
	height: 100%;
	left: .6em;
	top: 0;
}
.category-list.sub .category-list.sub:before
{
	background-color: #666;
}
.category-list.sub .category-list.sub .category-list.sub:before
{
	background-color: #BBB;
}

.category-list.sub li:before
{
	content: '';
	position: absolute;
	background-color: #333;
	width: 7.5px;
	height: 1px;
	left: -.35em;
	top: calc(.75rem - 1px);
}
.category-list.sub .category-list.sub li:before
{
	background-color: #666;
}
.category-list.sub .category-list.sub .category-list.sub li:before
{
	background-color: #AAA;
}

.category-list li a,
.category-list li a
{
	position: relative;
	padding-left: 1.25rem;
}

.category-list li a:before,
.category-list li a:before
{
	position: absolute;
	//background-color: #007bff;
	//content: '\f111';
	top: .15rem;
	left: .5em;
	font-family: FontAwesome;
	font-size: .5rem;
	font-weight: bold;
	line-height: 100%;
	transition: transform .35s;
}
.category-list li a.has-sub:before,
.category-list li a.has-sub:before
{
	content: '\f105';
	font-size: 1rem;
}
.category-list li a.has-sub[aria-expanded='true']:before,
.category-list li a.has-sub[aria-expanded='true']:before
{
	transform: rotate(90deg);
}