.font-weight-normal
{
	font-weight: normal;
}

.display-none
{
	display: none;
}

.overlay-loading
{
	position: fixed;
	display: none;
	background-color: rgba(0, 0, 0, .65);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10000;
}

.overlay-loading:before
{
	content: '\f110';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	font-family: FontAwesome;
	font-size: 1.75rem;
	font-weight: bold;
	color: #EEE;
	line-height: 100%;
	text-shadow: 0 0 10px rgba(0, 0, 0, .55);
	animation: spinnerAnim 1.6s ease-in-out infinite;
}

@keyframes spinnerAnim
{
	0%
	{
		transform: translate(-50%, -50%) rotate(0deg);
	}
	
	7%
	{
		transform: translate(-50%, -50%) rotate(0deg);
	}
	
	93%
	{
		transform: translate(-50%, -50%) rotate(360deg);
	}
	
	100%
	{
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.modal-backdrop
{
	z-index: 1150;
}
.modal
{
	z-index: 1151;
}

.input-group > .input-group-prepend > .form-control
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.bootstrap-timepicker-widget table td a i
{
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bootstrap-timepicker-widget table td a i.glyphicon-chevron-up:before
{
	content: "\f077";
}

.bootstrap-timepicker-widget table td a i.glyphicon-chevron-down:before
{
	content: "\f078";
}

.modal-header
{
	display: block;
}