table.dataTable
{
	border-collapse: collapse !important;
}

.dt-bootstrap4 .row > *
{
	padding: 0;
}

.record-list-table
{
	width: 100%;
}

.record-list-table .editable,
.record-list-table *[data-href]
{
	cursor: pointer;
	transition: background-color .25s, color .25s;
}
.record-list-table .editable:hover,
.record-list-table *[data-href]:hover
{
	background-color: #1F77C4;
	color: white;
}

.record-list-table th,
.record-list-table td
{
	padding: .5rem;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after
{
    bottom: 0.5em;
}

*[data-href]
{
	cursor: pointer;
}

.card-subtitle
{
	font-weight: bold;
}

.record-notification-table
{
	width: 100%;
}

.record-notification-table tr:hover,
.record-notification-table tr.active
{
	background-color: #EEE;
	cursor: pointer;
}

.record-notification-table tr td
{
	padding: .75rem;
}

.record-notification-table tr:not(:last-child) td
{
	border-bottom: 1px solid #E0E0E0;
}

.record-notification-table tr .title
{
	font-size: 1.05rem;
	font-weight: bold;
	line-height: 125%;
}

.record-notification-table tr .time
{
	margin-top: .5rem;
	color: #777;
}