.dropzone.dropzone-media
{
	background-color: #F7F7F7;
	border-width: 1px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .4);
	font-size: 1.1rem;
	transition: background-color .25s, box-shadow .25s, font-size .25s;
}

.dropzone.dropzone-media:hover
{
	background-color: #EEE;
	box-shadow: 0 0 6px rgba(0, 0, 0, .65);
	font-size: 1.25rem;
}

.record-media
{
	position: relative;
	background-color: #EEE;
	width: 100%;
	//height: calc(100% - 1rem);
	height: 16.5rem;
	margin: .5rem 0;
	//border: 1px solid #ccc;
	border-radius: 7.5px;
	box-shadow: 0 0 7.5px rgba(0, 0, 0, .2);
	overflow: hidden;
}

.record-media:hover
{
	box-shadow: 0 0 8.5px rgba(0, 0, 0, .75);
}

.record-media .media
{
	position: relative;
	min-width: 100%;
	min-height: 100%;
	max-width: 1000px;
	max-height: 1000px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	transition: min-width .25s, min-height .25s, max-width .25s, max-height .25s, transform .25s;
}

.record-media:hover .media
{
	/*position: relative;
	min-width: 125%;
	min-height: 125%;
	max-width: 1250px;
	max-height: 1250px;*/
	transform: translate(-50%, -50%) scale(1.5);
}

.record-media .overlay
{
	position: absolute;
	background-color: rgba(0, 0, 0, .6);
	width: 100%;
	padding: .1rem .5rem;
	bottom: 0;
	font-size: 0;
	color: white;
}

.record-media .overlay > *
{
	display: inline-block;
	font-size: 1rem;
	vertical-align: middle;
}

.record-media .overlay .control
{
	padding: .1rem;
	margin: 0 .35rem;
	font-size: 1.25rem;
	color: white;
	cursor: pointer;
	transition: color .25s, text-shadow .25s;
}

.record-media .overlay .control:hover
{
	color: var(--info);
	text-shadow: 0 0 12.5px rgba(0, 0, 0, .75);
}

.record-media .overlay .not-active
{
	margin: 0 .35rem;
	float: right;
	font-size: 1.25rem;
	color: #FF553B;
	text-shadow: 0 0 7.5px rgba(0, 0, 0, .5);
}

.record-media-popup
{
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, .65);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2000;
}

.record-media-popup .content
{
	position: relative;
	display: inline-block;
	max-width: 85vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, .65);
}

.record-media-popup .content .btn-close
{
	position: absolute;
	padding: .5rem;
	top: .25rem;
	right: .25rem;
	font-size: 1.5rem;
	text-shadow: 0 0 5px rgba(0, 0, 0, .4);
	line-height: 100%;
	cursor: pointer;
	z-index: 1;
}

.record-media-popup .content > .media
{
	position: relative;
	background-color: #EEE;
	max-width: 100%;
	max-height: 85vh;
}