.profile-img
{
	position: relative;
	display: inline-block;
	cursor: pointer;
}

/*.profile-img .overlay
{
	position: absolute;
	background-color: rgba(0, 0, 0, .65);
	width: 100%;
	height: 100%;
	border-radius: 100%;
	text-align: left;
	opacity: 0;
	transition: opacity .25s;
}*/
.profile-img .overlay
{
	position: absolute;
	background-color: rgba(0, 0, 0, .85);
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	top: 100%;
	left: 100%;
	transform: translate(-100%, -100%);
	text-align: left;
	box-shadow: 0 0 6.5px rgba(0, 0, 0, .65);
	transition: background .25s, width .25s, height .25s;
}
.profile-img:hover .overlay
{
	background-color: rgba(0, 0, 0, .7);
	width: 100%;
	height: 100%;
}

.profile-img .overlay .fa
{
	position: relative;
	display: inline-block;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -60%);
	font-size: 1rem;
	color: #EEE;
	line-height: 100%;
	transition: font-size .25s;
}
.profile-img:hover .overlay .fa
{
	font-size: 1.5rem;
}

.profile-img .img 
{
	position: relative;
	width: 125px;
	height: 125px;
	border-radius: 100%;
	border: 3px solid #adb5bd;
	overflow: hidden;
}
.profile-img .img:after
{
	content: "";
	position: absolute;
	width: calc(100%);
	height: calc(100%);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	border: 3.5px solid white;
}

.profile-img .img img
{
	position: relative;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.qr-code
{
	display: block;
	max-width: 85%;
	max-height: 12.5rem;
	margin: auto;
}

.list-group-item:last-child
{
	border-bottom: none;
}