.btn-record-action:not(.btn-float-right):not(:first-child)
{
	margin-left: .25rem;
}

.btn-float-right
{
	float: right;
	margin-left: 0;
}

.btn-float-right:not(:first-child)
{
	margin-right: .5rem;
}

.record-single-title
{
	//background-color: #AAA;
	padding: .5rem;
	padding-bottom: .25rem;
	font-size: 1.1rem;
	font-weight: bold;
	//color: white;
	text-align: center;
}

.record-single-title + .record-single-table
{
	margin-top: 0;
}

.record-single-table
{
	width: 100%;
	margin: .75rem 0;
	margin-bottom: 3rem;
}

.record-single-table tr
{
	background-color: #F7F7F7;
}

.record-single-table tr td:nth-child(odd)
{
	background-color: #E7E7E7;
	//border-left: 3px solid #BBB;
	font-weight: bold;
}

.record-single-table tr:nth-child(even)
{
	//background-color: #F7F7F7;
}

.record-single-table tr:nth-child(even) td:nth-child(odd)
{
	//background-color: #E8E8E8;
}

.record-single-table td
{
	padding: .5rem;
	border: 1px solid #AAA;
}

.record-single-table td:nth-child(2)
{
	padding-right: 3rem;
}

.record-single-table td:nth-child(1), .record-single-table td:nth-child(3)
{
	text-align: right;
}

.record-single-profile
{
	position: relative;
	width: 17.5rem;
	max-width: 100%;
	padding: 1rem;
	border-radius: 5px;
	margin: auto;
	margin-top: 2.5px;
	margin-bottom: 3rem;
	box-shadow: 0 0 7.5px rgba(0, 0, 0, .2);
}

.record-single-profile .image
{
	position: relative;
	width: 8.5rem;
	height: 8.5rem;
	border: 3px solid #adb5bd;
	border-radius: 100%;
	margin: auto;
	margin-bottom: 1rem;
}
.record-single-profile .image .spacer
{
	position: relative;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	border-radius: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}
.record-single-profile .image .spacer img
{
	position: relative;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.record-single-profile .name
{
	color: black;
	font-size: 1.35rem;
	text-align: center;
}
.record-single-profile .position
{
	margin-bottom: .5rem;
	color: #6c757d;
	font-size: .95rem;
	text-align: center;
}

.record-single-profile .review
{
	margin-bottom: 1.25rem;
	color: black;
	font-size: 1.05rem;
	text-align: center;
}
.record-single-profile .review:before
{
	content: "\f006";
	font-family: FontAwesome;
	margin-right: .25rem;
	color: #4565D6;
}

.record-single-profile ul
{
	padding: 0;
	margin: 0;
	list-style: none;
}
.record-single-profile ul li
{
	padding: 1rem 0;
	border-top: 1px solid rgba(0, 0, 0, .125);
	text-align: right;
}
.record-single-profile ul li b
{
	float: left;
}

.user-reviews-item-wrapper:not(:last-child)
{
	position: relative;
	width: 100%;
	margin-bottom: 1.5rem;
}

.user-review-item
{
	position: relative;
	width: calc(100% - 1rem);
	font-size: 0;
	white-space: nowrap;
}
.user-review-item:not(:last-child)
{
	border-bottom: 1px solid #CCC;
	margin-bottom: 1rem;
}

.user-review-item .image-wrapper
{
	position: relative;
	display: inline-block;
	width: 5rem;
}

.user-review-item .image
{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 5rem;
	border: 3px solid #adb5bd;
	border-radius: 100%;
	margin: auto;
	margin-bottom: 1rem;
	vertical-align: top;
}
.user-review-item .image .spacer
{
	position: relative;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	border-radius: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}
.user-review-item .image .spacer img
{
	position: relative;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.user-review-item .content
{
	position: relative;
	display: inline-block;
	width: calc(100% - 5rem);
	padding: .5rem 1rem;
	padding-right: .5rem;
	font-size: 1rem;
	vertical-align: top;
}

.user-review-item .header
{
	position: relative;
	width: 100%;
	margin-bottom: .5rem;
	font-size: 0;
}

.user-review-item .header .title
{
	position: relative;
	display: inline-block;
	width: calc(100% - 7.5rem);
	font-weight: bold;
	font-size: 1.15rem;
	vertical-align: top;
}

.user-review-item .header .title .time
{
	color: #555;
	font-weight: normal;
	font-size: .9rem;
	line-height: 100%;
	vertical-align: top;
}

.user-review-item .header .rating
{
	position: relative;
	display: inline-block;
	width: 7.5rem;
	color: #4565D6;
	font-size: 1rem;
	text-align: right;
	vertical-align: top;
}

.img-upload
{
	position: relative;
	width: 100%;
	margin-bottom: 1rem;
}

.img-upload img
{
	position: relative;
	max-width: 100%;
	max-height: 15rem;
	margin-top: .5rem;
	box-shadow: 0 0 6px rgba(0, 0, 0, .35);
}

.img-upload img[src='']
{
	display: none;
}

.input-rating
{
	margin-bottom: 1rem;
}

.input-rating input,
.input-rating textarea
{
	display: none;
}

.input-rating .star
{
	display: inline-block;
	margin: auto 1px;
	cursor: pointer;
}
.input-rating .star:before
{
	content: '\f006';
	font-family: FontAwesome;
	font-weight: bold;
	font-size: 1.25rem;
	color: black;
}
.input-rating .star.active:before
{
	content: '\f005';
}

.input-map
{
	width: 100%;
	height: 25rem;
}

.input-map .search-box
{
	width: 40%;
	min-width: 15rem;
	padding: 10px 15px;
	border: none;
	border-radius: 2px;
	margin-top: 10px;
	font-size: .9rem;
	box-shadow: 0 0 2.5px rgba(0, 0, 0, .2);
	appearance: none;
	-webkit-appearance: none;
}

.note
{
	margin-bottom: .25rem;
	font-size: .9rem;
}

.image-preview
{
	position: relative;
	max-width: 100%;
	box-shadow: 0 0 6px rgba(0, 0, 0, .35);
}

.btn.btn-xs
{
	padding: .25rem .5rem;
	font-size: .9rem;
}

@media (max-width: 768px)
{
	.input-map .search-box
	{
		width: 95%;
		margin-top: 65px;
	}
}