.unauth-wrapper
{
	position: relative;
	background-image: url('../../img/login_bg.jpg');
	background-color: rgba(0, 0, 0, .15);
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	background-position: center center;
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: auto;
}

.unauth-container
{
	position: relative;
	background-color: white;
	width: 25rem;
	max-width: 90%;
	padding: 1.5rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 15px rgba(0, 0, 0, .25);
}

.logo
{
	max-width: 100%;
	max-height: 10rem;
	margin-bottom: 3rem;
}

.btn-full-width
{
	width: 100%;
}

@media (max-width: 768px)
{
	
}