.record-item
{
	position: relative;
	background-color: #EEE;
	width: 100%;
	//height: calc(100% - 1rem);
	height: 16.5rem;
	margin: .5rem 0;
	border: 1px solid #ccc;
	border-radius: 7.5px;
	box-shadow: 0 0 7.5px rgba(0, 0, 0, .2);
	overflow: hidden;
}

.record-item:hover
{
	box-shadow: 0 0 8.5px rgba(0, 0, 0, .65);
}

.record-item .record-image
{
	position: relative;
	min-width: 100%;
	min-height: 100%;
	max-width: 1000px;
	max-height: 1000px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	transition: min-width .25s, min-height .25s, max-width .25s, max-height .25s;
}

.record-item:hover .record-image
{
	min-width: 125%;
	min-height: 125%;
	max-width: 1250px;
	max-height: 1250px;
}

.record-item .overlay
{
	position: absolute;
	background-color: rgba(0, 0, 0, .6);
	width: 100%;
	padding: .1rem .5rem;
	bottom: 0;
	font-size: 0;
	color: white;
}

.record-item .overlay > *
{
	display: inline-block;
	font-size: 1rem;
	vertical-align: middle;
}

.record-item .overlay .control
{
	padding: .1rem;
	margin: 0 .35rem;
	font-size: 1.25rem;
	color: white;
	cursor: pointer;
	transition: color .25s, text-shadow .25s;
}

.record-item .overlay .control:hover
{
	color: var(--info);
	text-shadow: 0 0 12.5px rgba(0, 0, 0, .75);
}

.record-item .overlay .not-active
{
	margin: 0 .35rem;
	float: right;
	font-size: 1.25rem;
	color: #FF553B;
	text-shadow: 0 0 7.5px rgba(0, 0, 0, .5);
}

#modify-image-form .label
{
	display: block;
	width: 100%;
	margin: .5rem 0;
	
}

#modify-image-form input[type='text'],
#modify-image-form input[type='number']
{
	width: 100%;
	padding: .5rem;
	margin: .15rem 0;
	border: 1px solid rgba(100, 100, 100, .5);
	border-radius: 6px;
}

.record-img-popup
{
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, .65);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2000;
}

.record-img-popup .content
{
	position: relative;
	display: inline-block;
	max-width: 85vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, .65);
}

.record-img-popup .content .btn-close
{
	position: absolute;
	padding: .5rem;
	top: .25rem;
	right: .25rem;
	font-size: 1.5rem;
	text-shadow: 0 0 5px rgba(0, 0, 0, .4);
	line-height: 100%;
	cursor: pointer;
	z-index: 1;
}

.record-img-popup .content > img
{
	position: relative;
	background-color: #EEE;
	max-width: 100%;
	max-height: 85vh;
}