a
{
	text-decoration: none;
	color: #29A71A;
}
a
{
	color: rgba(41, 167, 26,0.7);
}

.container
{
	position: relative;
	background-color: #E9EBE6;
	width: auto;
	padding: .85rem;
	margin: auto;
}

.container-title
{
	padding: .5rem;
	padding-top: 0;
	border-bottom: 1px solid rgba(0, 0, 0, .5);
	margin-bottom: 1rem;
	font-size: 1.15rem;
	color: black;
	letter-spacing: .5px;
}

.container-subtitle
{
	padding: .35rem;
	font-size: 1rem;
	font-weight: bold;
	color: black;
}

.container-subcontent
{
	padding-left: 1rem;
}

.main-link .btn.btn-lg
{
	padding: .8rem 1.1rem;
	font-size: 1.15rem;
}