html,
body
{
	padding: 1rem;
	font-family: Arial;
	font-size: .9rem;
}

table
{
	position: relative;
	width: 100%;
	border-collapse: collapse;
}

.main-logo
{
	display: block;
	width: 350px;
	max-width: 50%;
	margin: auto;
	margin-bottom: 1rem;
}

.footer
{
	padding: .5rem;
	background-color: rgba(218, 230, 235, .75);
	font-weight: bold;
	font-size: 1rem;
	color: black;
	text-align: center;
}

.footer .separator
{
	background-color: #888;
	width: 24rem;
	max-width: 100%;
	height: 1px;
	margin: .35rem auto;
	border-radius: 100%;
}

.footer .disclaimer
{
	font-size: .85rem;
	font-weight: normal;
}

.main-link
{
	position: relative;
	width: 75%;
	padding: 1.5rem;
	margin: auto;
	font-size: 1rem;
	text-align: center;
	line-height: 150%;
}

.main-link a
{
	background-color: #EEE;
	padding: .25rem;
	margin: auto;
	font-size: .75rem;
	word-wrap: break-word;
}

.main-link a.btn
{
	display: inline-block;
	background-color: #29A71A;
	padding: .65rem 1rem;
	border: 1px solid #29A71A;
	border-radius: 10px;
	margin: .5rem;
	font-size: .9rem;
	color: white;
	text-decoration: none;
	line-height: 110%;
	appearance: none;
	-webkit-appearance: none;
	transition: background-color .25s, color .25s;
}

.main-link a.btn:hover
{
	background-color: white;
	color: #29A71A;
}