.product
{
	position: relative;
	background-color: #EEE;
	width: 20rem;
	margin: auto;
	margin-top: .5rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 0 7.5px rgba(0, 0, 0, .35);
}

.product .image
{
	position: relative;
	width: 100%;
	height: 12.5rem;
	overflow: hidden;
}

.product .image img
{
	position: relative;
	min-width: 80%;
	min-height: 80%;
	max-width: 150%;
	max-height: 150%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.product .details .name
{
	margin-bottom: .15rem;
	font-size: 1.2rem;
	font-weight: bold;
	color: #444;
	text-align: center;
	letter-spacing: 4px;
	line-height: 225%;
}

.product .details table td
{
	border: 2.5px solid white;
	padding: .25rem .35rem;
	font-size: 1rem;
}

.product .details table td:first-child
{
	width: 45%;
	border-left: none;
	font-weight: bold;
}

.product .details table td:last-child
{
	border-right: none;
}

.product .details table tr:last-child td
{
	border-bottom: none;
}

table
{
	position: relative;
	width: 100%;
	border-collapse: collapse;
}