/* ======================= Design Properties Variables ======================= */
:root
{
	--theme-color: #53C5D1;
	--theme-color-r: 83;
	--theme-color-g: 197;
	--theme-color-b: 209;
	--theme-color-light: #DAE7E8;
	--theme-color-light-r: 142;
	--theme-color-light-g: 203;
	--theme-color-light-b: 209;
	--theme-color-dark: #38848C;
	--theme-color-dark-r: 56;
	--theme-color-dark-g: 132;
	--theme-color-dark-b: 140;
	--theme-color-secondary: #F0525E;
	--theme-color-secondary-r: 240;
	--theme-color-secondary-g: 82;
	--theme-color-secondary-b: 94;
	
	--header-height: 3.5rem;
	
	--footer-height: 3.5rem;
}

/* ======================= HTML Style Override ======================= */
html,
body
{
	position: relative;
	background-color: var(--theme-color-light);
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Arial';
	font-size: 1rem;
	letter-spacing: .0;
	line-height: 120%;
}

a
{
	color: black;
	text-decoration: none;
	cursor: pointer;
	transition: color .35s, text-decoration .35s;
}
a:hover
{
	color: var(--theme-color);
	text-decoration: none;
}
a:focus,
a:active
{
	text-decoration: none;
}

label:not(.no-style)
{
	margin-bottom: .5rem;
	font-size: .9rem;
	font-weight: bold;
	line-height: 100%;
}

input[type='text']:not(.no-style),
input[type='search']:not(.no-style),
input[type='email']:not(.no-style),
input[type='password']:not(.no-style),
input[type='number']:not(.no-style),
input[type='color']:not(.no-style),
input[type='file']:not(.no-style),
select:not(.no-style),
textarea:not(.no-style),
.select-arrow
{
	position: relative;
	background-color: #FCFCFC;
	width: 100%;
	padding: .4rem .75rem;
	border: 1px solid #AAA;
	border-radius: .25rem;
	margin-bottom: .65rem;
	font-size: .9rem;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	transition: border .35s;
}
input[type='color']:not(.no-style)
{
	width: 1.5rem;
	padding: .05rem .1rem;
	font-size: 1.25rem;
}

input[type='text']:not(.no-style):focus,
input[type='search']:not(.no-style):focus,
input[type='email']:not(.no-style):focus,
input[type='password']:not(.no-style):focus,
input[type='number']:not(.no-style):focus,
input[type='color']:not(.no-style):focus,
input[type='file']:not(.no-style):focus,
select:not(.no-style):focus,
textarea:not(.no-style):focus
{
	border-color: var(--theme-color-secondary);
}

label:not(.no-style) ~ input[type='text']:not(.no-style),
label:not(.no-style) ~ input[type='search']:not(.no-style),
label:not(.no-style) ~ input[type='email']:not(.no-style),
label:not(.no-style) ~ input[type='password']:not(.no-style),
label:not(.no-style) ~ input[type='number']:not(.no-style),
label:not(.no-style) ~ input[type='color']:not(.no-style),
label:not(.no-style) ~ input[type='file']:not(.no-style),
label:not(.no-style) ~ select:not(.no-style),
label:not(.no-style) ~ textarea:not(.no-style),
label:not(.no-style) ~ .select-arrow
{
	margin-bottom: 1.5rem;
}

.select-arrow
{
	position: relative;
	display: inline-block;
	padding: 0;
}

.select-arrow select
{
	background: transparent;
	border: none;
	padding-right: 1.85rem;
	margin-bottom: 0;
}

.select-arrow:after
{
	content: "\f0d7";
	position: absolute;
	background: linear-gradient(to top right, #FAFAFA, #FFF);
	padding: 0 .35rem;
	border: 1px solid #BBB;
	top: 1px;
	right: 1px;
	bottom: 1px;
	font-family: "Font Awesome 5 Free";
	font-weight: bold;
	font-size: 1rem;
	color: #555;
	pointer-events: none;
}

/* ======================= Class Overrides ======================= */
.container
{
	position: relative;
}

/* Button */
button,
input[type='submit'],
.btn
{
	position: relative;
	background-color: var(--theme-color);
	padding: .35rem .85rem;
	border: none;
	border-radius: 4px;
	font-size: .9rem;
	color: white;
	outline: 0;
	appearance: none;
	-webkit-appearance: none;
	transition: background-color .35s, color .35s;
}
button:hover,
input[type='submit']:hover,
.btn:hover
{
	background-color: rgba(var(--theme-color-r), var(--theme-color-g), var(--theme-color-b), .65);
	color: white;
	outline: none;
}
button:active,
input[type='submit']:active,
.btn:active
{
	background-color: var(--theme-color-secondary);
	color: white;
	outline: none;
}.form-group.has-error input,
.form-group.has-error textarea,
.form-group.has-error select
{
	border-color: red;
}

.form-group .error
{
    color: red;
}

/* ======================= Design Property Helpers ======================= */
.display-none
{
	display: none;
}

.display-block
{
	display: block;
}

.display-inline-block
{
	display: inline-block;
}

.bg-white
{
	background-color: white;
}

.full-width
{
	width: 100%;
}

.full-height
{
	height: 100%;
}

.bold
{
	font-weight: bold;
}

.padding-0
{
	padding: 0;
}

.padding-3r
{
	padding: 3rem;
}

.padding-right-0
{
	padding-right: 0;
}

.padding-left-0
{
	padding-left: 0;
}

.padding-left-1e
{
	padding-left: 1em;
}

.padding-left-10
{
	padding-left: 10px;
}

.margin-top--25r
{
	margin-top: .25rem;
}

.margin-top--5r
{
	margin-top: .5rem;
}

.margin-top-1r
{
	margin-top: 1rem;
}

.margin-top-2r
{
	margin-top: 2rem;
}

.margin-bottom--25r
{
	margin-bottom: .25rem;
}

.margin-bottom--5r
{
	margin-bottom: .5rem;
}

.margin-bottom--65r
{
	margin-bottom: .65rem;
}

.margin-bottom-1r
{
	margin-bottom: 1rem;
}

.margin-bottom-2r
{
	margin-bottom: 2rem;
}

.underline
{
	text-decoration: underline;
}

.color-red
{
	color: red;
}

.font-1-5r
{
	font-size: 1.5rem;
}

/* ======================= Design Helpers ======================= */
.h-divider
{
	position: relative;
	background-color: rgba(127, 127, 127, .35);
	width: 100%;
	height: 1px;
	top: 0;
}

.vp-v-center
{
	position: relative;
	top: calc(50vh - var(--header-height));
	transform: translateY(-50%);
}

/* ======================= Page Content ======================= */
/* Header */
.header
{
	position: relative;
	background-color: white;
	width: 100%;
	height: var(--header-height);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.header .container
{
	height: 100%;
}

.header .col-logo
{
	position: relative;
	display: inline-block;
	height: 100%;
	padding: .4rem .75rem;
	border-right: 1.5px solid #EEE;
	vertical-align: top;
}

.header .col-get-app
{
	position: relative;
	display: inline-block;
	height: 100%;
	float: right;
	vertical-align: top;
}
.header .col-get-app .get-app-link
{
	height: 70%;
	margin: 0 5px;
	top: 50%;
	transform: translateY(-50%);
}
.header .col-get-app .get-app-link img
{
	width: auto;
	height: 100%;
}

.header .logo
{
	position: relative;
	display: inline-block;
	background-color: #EEE;
	width: calc(var(--header-height) - .8rem);
	height: 100%;
	border-radius: 100%;
	overflow: hidden;
}
.header .logo img
{
	position: relative;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Body */
.content-body
{
	position: relative;
	width: 100%;
	min-height: calc(100% - var(--header-height) - var(--footer-height)); /* 100% - header_height - footer_height */
	padding-top: 15px;
	padding-bottom: 15px;
}

/* Footer */
.footer
{
	position: relative;
	background-color: white;
	width: 100%;
	height: var(--header-height);
}

.footer .container
{
	position: relative;
	padding: 0 2rem;
	top: 50%;
	transform: translateY(-50%);
}

/* Section */
.section
{
	position: relative;
	background-color: white;
	width: 100%;
	padding: 1rem;
	border-radius: .25rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}
.section.wrap
{
	display: inline-block;
	width: auto;
	margin: auto;
}

.section .title
{
	position: relative;
	padding-bottom: .75rem;
	border-bottom: 1px solid #CCC;
	margin-bottom: 1rem;
	line-height: 100%;
}
.section .title.center
{
	text-align: center;
}

.section .title .icon
{
	position: relative;
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	border: 1px solid #666;
	border-radius: 100%;
	margin-right: .5rem;
	font-size: 1.1rem;
	text-align: center;
	line-height: 100%;
	vertical-align: middle;
}

.section .title .icon > *
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.section .title .text
{
	display: inline-block;
	vertical-align: middle;
}

/* Notification */
.notification-box
{
	display: inline-block;
	background-color: white;
	padding: 2.5rem 4rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, .15);
	font-size: 1.15rem;
	text-align: center;
	line-height: 125%;
}

.notification-box .icon
{
	display: block;
	width: 3.5rem;
	height: 3.5rem;
	margin: auto;
	margin-bottom: 1.25rem;
	font-size: 3.5rem;
	text-align: center;
}

.notification-box .logo
{
	display: block;
	width: 15rem;
	margin: auto;
	margin-bottom: 2.5rem;
}

/* Get App */
.get-app-link
{
	position: relative;
	display: inline-block;
	margin: 5px;
}

.get-app-link img
{
	position: relative;
	width: 10rem;
	height: auto;
	border-radius: .35rem;
	transition: box-shadow .25s;
}
.get-app-link:hover img
{
	box-shadow: 0 0 7.5px rgba(0, 0, 0, .6);
}

/* ======================= Element Helpers ======================= */
.theme-title
{
	display: block;
	margin: .35rem 0;
	font-size: 1.1rem;
	font-weight: bold;
	color: var(--theme-color);
}

.theme-text
{
	color: var(--theme-color);
}

.theme-secondary-text
{
	color: var(--theme-color-secondary);
}

.info-text
{
	font-size: .9rem;
	color: #777;
}

.note
{
	font-size: .8rem;
	font-weight: bold;
	color: #888;
}

/* ======================= Desktop Style ======================= */
@media (min-width: 1200px)
{
	
}

/* ======================= Small Desktop Style ======================= */
@media (min-width: 992px)
{
	.text-right-md
	{
		text-align: right;
	}
}

@media (max-width: 1200px)
{
	.checkout-steps li
	{
		padding: .75rem;
		font-size: .9rem;
	}
}

/* ======================= Non-mobile Style ======================= */
@media (min-width: 768px)
{
	
}

/* ======================= Non-desktop Style ======================= */
@media (max-width: 992px)
{
	body:after
	{
		content: "Mobile Site";
		position: absolute;
		background-color: var(--theme-color);
		width: 100%;
		padding: .45rem;
		font-size: .85rem;
		color: white;
		line-height: 100%;
		text-align: center;
	}
	
	.content-body
	{
		min-height: calc(100% - var(--header-height) - var(--footer-height) - 1.8rem); /* 100% - header_height - footer_height */
	}
	
	.padding-top--75r-sm
	{
		padding-top: .75rem;
	}
	
	.text-right-sm
	{
		text-align: right;
	}
	
	.text-left-sm
	{
		text-align: left;
	}
}

/* ======================= Mobile Style ======================= */
@media (max-width: 768px)
{
	.text-right-xs
	{
		text-align: right;
	}
	
	.text-left-xs
	{
		text-align: left;
	}
	
	.header .col-get-app .get-app-link
	{
		height: 50%;
	}
	
	.notification-box
	{
		display: inline-block;
		width: 100%;
		padding-left: .75rem;
		padding-right: .75rem;
	}
	
	.footer
	{
		padding: 0;
		text-align: center;
		font-size: .9rem;
	}
}